@font-face {
    font-family: 'Digital Numbers Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Digital Numbers Regular'), url('DigitalNumbers-Regular.woff') format('woff');
}

.button-status-container {
    width: 300px;
    height: 50px;
    background-color: #1C1C1C;
    border-radius: 10px;
}

.status-text {
    color: #24FF00;
}